[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = ../vim-pathogen.git
[submodule "bundle/vim_buffers"]
	path = bundle/vim_buffers
	url = ../vim_buffers.git
[submodule "bundle/vim_cdoc"]
	path = bundle/vim_cdoc
	url = ../vim_cdoc.git
[submodule "bundle/vim_vim"]
	path = bundle/vim_vim
	url = ../vim_vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = ../nerdtree.git
[submodule "bundle/vim_windows"]
	path = bundle/vim_windows
	url = ../vim_windows.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = ../taglist.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = ../clang_complete.git
[submodule "bundle/vim_todo_txt"]
	path = bundle/vim_todo_txt
	url = ../todo.txt-vim.git
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = ../vim-qml.git
